# Core functionality - changes here should be rare!
/src/app.py                   @DevShyngys
/src/backend/database.py      @DevShyngys
/src/backend/routers/auth.py  @DevShyngys

# The frontend will need refactored soon to be more object oriented.
/src/static/   @DevShyngys
